@import "../../styles/common.scss";

.header {
  height: 95vh;
  position: relative;

  background-image: linear-gradient(
      90deg,
      rgba($color-blue-dark, 0.5),
      rgba($color-blue-light, 0.5)
    ),
    url(../../images/header/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 0 0 100% 100%/0 0 20% 20%;

  // @media only screen and (max-width: 37.5em) {
  //   border-radius: 0;
  // }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 95vh;
    grid-auto-rows: 1fr;

    // @media only screen and (max-width: 37.5em) {
    //   height: 100%;
    //   border: 1px solid red;
    //   grid-template-columns: repeat(2, 1fr);
    //   grid-template-rows: repeat(2, 1fr);
    // }
  }
}
