@import "../../styles/common.scss";

.navigation {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #666;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 5rem;

  &__logo {
    align-self: center;
    width: fit-content;
    height: fit-content;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }

  &__lang {
    align-self: center;
    padding: 1rem 2rem;
    color: #fff;

    display: flex;
    align-items: center;

    select,
    option {
      border-radius: 3rem;
    }

    option {
      color: #000;
    }

    select {
      color: inherit;
      background-color: transparent;
      padding: 1rem 2rem;
      border: none;
      outline: none;
    }

    svg {
      color: inherit;
      margin-right: -1rem;
      font-size: 2rem;
    }
  }

  &__item {
    border: none;
    box-shadow: $box-shadow;
    background-color: #fff;
    border-radius: 3rem;

    align-self: center;
    width: 80%;
    margin: auto;

    font-size: 1.4rem;
    padding: 1rem;

    color: $color-blue-dark;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    &--icon {
      margin-right: 0.5rem;
      font-size: 2rem;

      svg {
        display: block;
        margin: auto;
        color: inherit;
      }
    }

    &:hover {
      background-color: $color-blue-dark;
      color: #fff;
    }
  }
}
