@import "../common.scss";

.header {
  &__item {
    color: #fff;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(-3rem);

    position: relative;

    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 8rem;
    }

    &--heading {
      margin: 2rem auto;
    }

    &--text {
      text-align: center;
      font-weight: 300;
      font-style: italic;
      font-size: 1.75rem;
    }

    &--button {
      position: absolute;
      bottom: 4rem;

      button {
        color: #fff;
        padding: 1rem 2.5rem;
        text-transform: uppercase;

        border: 3px solid #fff;
        background-color: transparent;
        border-radius: 6rem;

        font-size: 1.5rem;
        font-weight: 700;

        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: $color-blue-dark;
          //   color: #000;
        }
      }
    }
  }
}
