@import "../../styles/common.scss";

.refrence {
  margin-top: -10rem;
  padding: 12rem 3rem;

  background-image: linear-gradient(rgba(#fff, 0), rgba($color-blue-dark, 0.8)),
    url(../../images/refrence/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100% 100% 100% 100%/20% 20% 20% 20%;

  display: grid;
  grid-template-columns: auto 1fr auto;

  &__head {
    grid-column: 1 / -1;

    color: #fff;
    font-size: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    &--img {
      margin-right: 2rem;
    }
  }

  &__container {
    margin-top: 2rem;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;

    &--display {
      width: 80%;
      margin: auto;
      // padding: 2rem;
      border-radius: 6rem;
      background-color: rgba(255, 255, 255, 0.5);

      display: grid;
      grid-template-columns: auto 1fr auto;

      &-img {
        align-self: center;
        margin-left: 2rem;
      }

      &-logo {
        margin-right: 2rem;
      }

      &-title {
        border-radius: 6rem;
        background-color: #ffffff;
        color: #000;

        align-self: center;

        text-align: center;
        margin: auto 1rem;

        position: relative;

        padding: 1rem;

        p {
          position: relative;

          font-size: 2rem;
          font-weight: 500;
        }
      }

      &-images {
        grid-column: 1 / -1;

        & > * {
          margin-right: 3rem;
        }

        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  &__button {
    &--back,
    &--front {
      color: #fff;
      align-self: center;
      padding: 1rem;
    }

    &--back {
      margin-left: 2rem;
    }

    &--front {
      margin-right: 2rem;
    }
  }
}
