@import "../../styles/common.scss";

.requirements {
  &__item {
    flex: 1;

    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: $color-blue-dark;

    &--increase,
    &--descrease {
      font-size: 2rem;
      padding: 1rem 2rem;
      cursor: pointer;

      border-radius: $border-radius;
      box-shadow: $box-shadow-dark;
    }
  }
}

// mobile requirements styling
.requirementsMobile {
  &__container {
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
  }
}

// web requirements styling
.requirementsWeb {
  p {
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 70%;
    margin: 2rem auto;
    padding: 1rem;
  }
}

// video requirements styling

.requirementsVideo {
  p {
    text-align: center;
  }
}
