$color-blue-dark: #0141f8;
$color-blue-light: #1d85f4;

$color-green: #0dff96;
$border-radius: 6rem;

$box-shadow: 0 0.1rem 1rem rgba($color-blue-dark, 0.75);
$box-shadow-grey: 0 0.1rem 0.5rem rgba(#000, 0.2);
$box-shadow-dark: 0 0.1rem 1rem rgba(#000, 0.5);
